@import "tailwindcss";
@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-Medium.ttf") format("truetype");
}
@theme {
  --font-gilroy: "Gilroy", sans-serif;
}

body {
  overflow-y: overlay;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: #113139 #02131b;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(14, 165, 233, 0.25);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(14, 165, 233, 0.7);
}